:root {
    --orange: #df3a01;
    --red: #FF0000;
    --white: #FFFFFF;
    --black: #000000;
}


/* TITULOS */

#titleIndex {
    color: var(--orange);
    margin-bottom: 50px;
    margin-left: 350px;
}

#titleEdit {
    color: var(--orange);
}


/* BOTÕES */

#btn-plus {
    background-color: var(--orange);
    border-radius: 100%;
    margin-left: 200px;
    margin-top: 55px;
}

.btn-danger {
    background-color: var(--red);
}


/* botao search */

.form-control {
    width: 400px !important;
}

#nome {
    width: 100px;
}